@tailwind base;
@tailwind components;
@tailwind utilities;


input[type=range] {
    -webkit-appearance: none; /* Remove default styling */
    width: 100%; /* Full-width slider */
    margin: 20px 0;
    cursor: e-resize;
  }
  
  /* Track styling */
.input-range  input[type=range]::-webkit-slider-runnable-track {
    /* width: 100%; */
    height: 4px;
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
.input-range  input[type=range]::-moz-range-track {
    /* width: 100%; */
    height: 4px;
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
.input-range  input[type=range]::-ms-track {
    /* width: 100%; */
    height: 4px;
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: transparent;
    color: transparent;
  }
  
  /* Thumb styling */
.input-range  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    position: relative;
    top: -8px;
    width: 20px;
    height: 20px;
    background: #334155;
    border: 2px solid #ccc;
    border-radius: 50%; /* Circular thumb */
  }
.input-range  input[type=range]::-moz-range-thumb {
    position: relative;
    top: -8px;
    width: 20px;
    height: 20px;
    background: #334155;
    border: 2px solid #ccc;
    border-radius: 50%; /* Circular thumb */
  }
.input-range  input[type=range]::-ms-thumb {
    position: relative;
    top: -8px;
    width: 20px;
    height: 20px;
    background: #334155;
    border: 2px solid #ccc;
    border-radius: 50%; /* Circular thumb */
  }

  .name-logo-font{
    font-family: "Sofadi One", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  

  .web-logo {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  